<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activeclub.core.ac_usermanagement.web.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.activeclub.core.ac_usermanagement.bean.model.User">

        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="flag" jdbcType="BIGINT" property="flag"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>

        <result column="origin_type" jdbcType="TINYINT" property="originType"/>
        <result column="info_level" jdbcType="VARCHAR" property="infoLevel"/>
        <result column="attribute_json" jdbcType="VARCHAR" property="attributeJson"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="modifier" jdbcType="VARCHAR" property="modifier"/>
        <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
        <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
        <result column="ext3" jdbcType="VARCHAR" property="ext3"/>
        <result column="ext4" jdbcType="VARCHAR" property="ext4"/>
        <result column="ext5" jdbcType="VARCHAR" property="ext5"/>


        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="identityNumber" jdbcType="VARCHAR" property="identityNumber"/>

    </resultMap>

    <sql id="column_sql_noPassword">
        b.id,b.flag,b.code,b."name",
        b.origin_type,b.info_level,b.attribute_json,b."comment",
        b.create_time,b.update_time,b.creator,b.modifier,
        b.ext1,b.ext2,b.ext3,b.ext4,b.ext5,
        b.phone_number,b.identity_number
    </sql>

    <sql id="update_sql">
        update_time = now()
        <if test="name != null and name !=''">
            ,"name" = #{item.name}
        </if>
        <if test="origin_type != null and origin_type !=''">
            ,"origin_type" = #{item.originType}
        </if>
        <if test="info_level != null and info_level !=''">
            ,"info_level" = #{item.infoLevel}
        </if>
        <if test="attribute_json != null and attribute_json !=''">
            ,"attribute_json" = #{item.attributeJson}
        </if>
        <if test="comment != null and comment !=''">
            ,"comment" = #{item.comment}
        </if>
        <if test="modifier != null and modifier !=''">
            ,"modifier" = #{item.modifier}
        </if>
        <if test="ext1 != null and ext1 !=''">
            ,"ext1" = #{item.ext1}
        </if>
        <if test="ext2 != null and ext2 !=''">
            ,"ext2" = #{item.ext2}
        </if>
        <if test="ext3 != null and ext3 !=''">
            ,"ext3" = #{item.ext3}
        </if>
        <if test="ext4 != null and ext4 !=''">
            ,"ext4" = #{item.ext4}
        </if>
        <if test="ext5 != null and ext5 !=''">
            ,"ext5" = #{item.ext5}
        </if>
        <if test="password != null and password !=''">
            ,"password" = #{item.password}
        </if>
        <if test="phone_number != null and phone_number !=''">
            ,"phone_number" = #{item.phone_number}
        </if>
        <if test="identity_number != null and identity_number !=''">
            ,"identity_number" = #{item.identityNumber}
        </if>
    </sql>

    <sql id="select_sql">
        flag = 0
        <if test="name != null and name !=''">
            and "name" = #{item.name}
        </if>
        <if test="origin_type != null and origin_type !=''">
            and "origin_type" = #{item.originType}
        </if>
        <if test="info_level != null and info_level !=''">
            and "info_level" = #{item.infoLevel}
        </if>
        <if test="attribute_json != null and attribute_json !=''">
            and "attribute_json" = #{item.attributeJson}
        </if>
        <if test="comment != null and comment !=''">
            and "comment" = #{item.comment}
        </if>
        <if test="modifier != null and modifier !=''">
            and "modifier" = #{item.modifier}
        </if>
        <if test="ext1 != null and ext1 !=''">
            and "ext1" = #{item.ext1}
        </if>
        <if test="ext2 != null and ext2 !=''">
            and "ext2" = #{item.ext2}
        </if>
        <if test="ext3 != null and ext3 !=''">
            and "ext3" = #{item.ext3}
        </if>
        <if test="ext4 != null and ext4 !=''">
            and "ext4" = #{item.ext4}
        </if>
        <if test="ext5 != null and ext5 !=''">
            and "ext5" = #{item.ext5}
        </if>
        <if test="phone_number != null and phone_number !=''">
            and "phone_number" = #{item.phone_number}
        </if>
        <if test="identity_number != null and identity_number !=''">
            and "identity_number" = #{item.identityNumber}
        </if>
    </sql>

    <insert id="insert" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        insert into "user"(flag, code, "name",
                           origin_type, info_level, attribute_json, "comment",
                           create_time, update_time, creator, modifier,
                           ext1, ext2, ext3, ext4, ext5,
                           password, phone_number, identity_number)
        values (0, #{code}, #{name},
                #{originType}, #{infoLevel}, #{attributeJson}, #{comment},
                #{createTime}, #{updateTime}, #{creator}, #{modifier},
                #{ext1}, #{ext2}, #{ext3}, #{ext4}, #{ext5},
                #{password}, #{phoneNumber}, #{identityNumber})
    </insert>

    <delete id="delete" parameterType="string">
        update "user"
        set flag = -id
        where code = #{code}
    </delete>

    <update id="update" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        update "user"
        set
        <include refid="update_sql"/>
        WHERE code = #{item.code}
        and flag = 0;
    </update>

    <insert id="upsert" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        insert into "user"(flag, code, "name",
                           origin_type, info_level, attribute_json, "comment",
                           create_time, update_time, creator, modifier,
                           ext1, ext2, ext3, ext4, ext5,
                           password, phone_number, identity_number)
        values (0, #{code}, #{name},
                #{originType}, #{info_level}, #{attributeJson}, #{comment},
                now(), now(), #{creator}, #{modifier},
                #{ext1}, #{ext2}, #{ext3}, #{ext4}, #{ext5},
                #{password}, #{phoneNumber}, #{identityNumber})
        ON CONFLICT ("code","flag")
            DO UPDATE SET "name"          = #{item.name},
                          "origin_type"   = #{item.originType},
                          info_level      = #{item.infoLevel},
                          attribute_json  = #{item.attributeJson},
                          "comment"       = #{item.comment},
                          "modifier"      = #{item.modifier},
                          update_time     = now(),
                          ext1            = #{item.ext1},
                          ext2            = #{item.ext2},
                          ext3            = #{item.ext3},
                          ext4            = #{item.ext4},
                          ext5            = #{item.ext5},
                          password        = #{item.password},
                          phone_number    = #{item.phoneNumber},
                          identity_number = #{item.identityNumber}
        WHERE code = #{item.code}
          and flag = 0;
    </insert>


    <insert id="insertList" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        <foreach collection="t" item="item" separator=";">
            insert into "user"(flag, code, "name",
            origin_type, info_level, attribute_json, "comment",
            create_time, update_time, creator, modifier,
            ext1, ext2, ext3, ext4, ext5,
            password, phone_number, identity_number)
            values (0, #{item.code}, #{item.name},
            #{item.originType}, #{item.info_level}, #{item.attributeJson}, #{item.comment},
            #{item.createTime}, #{item.updateTime}, #{item.creator}, #{item.modifier},
            #{item.ext1}, #{item.ext2}, #{item.ext3}, #{item.ext4}, #{item.ext5},
            #{item.password}, #{item.phoneNumber}, #{item.identityNumber})
        </foreach>
    </insert>

    <delete id="deleteList" parameterType="string">
        update "user"
        set flag = -id
        where code = #{code}
    </delete>

    <update id="updateList" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        update "user"
        set
        <include refid="update_sql"/>
        WHERE code = #{item.code}
        and flag = 0;
    </update>

    <insert id="upsertList" parameterType="com.activeclub.core.ac_usermanagement.bean.model.User">
        insert into "user"(flag, code, "name",
                           origin_type, info_level, attribute_json, "comment",
                           create_time, update_time, creator, modifier,
                           ext1, ext2, ext3, ext4, ext5,
                           password, phone_number, identity_number)
        values (0, #{code}, #{name},
                #{originType}, #{info_level}, #{attributeJson}, #{comment},
                now(), now(), #{creator}, #{modifier},
                #{ext1}, #{ext2}, #{ext3}, #{ext4}, #{ext5},
                #{password}, #{phoneNumber}, #{identityNumber})
        ON CONFLICT ("code","flag")
            DO UPDATE SET "name"          = #{item.name},
                          "origin_type"   = #{item.originType},
                          info_level      = #{item.infoLevel},
                          attribute_json  = #{item.attributeJson},
                          "comment"       = #{item.comment},
                          "modifier"      = #{item.modifier},
                          update_time     = now(),
                          ext1            = #{item.ext1},
                          ext2            = #{item.ext2},
                          ext3            = #{item.ext3},
                          ext4            = #{item.ext4},
                          ext5            = #{item.ext5},
                          password        = #{item.password},
                          phone_number    = #{item.phoneNumber},
                          identity_number = #{item.identityNumber}
        WHERE code = #{item.code}
          and flag = 0;
    </insert>

    <select id="findCountByPage">
        select count(1)
        from "user"
        where
        <include refid="select_sql"/>
    </select>

    <select id="findByPage">
        select count(1)
        from "user"
        where
        <include refid="select_sql"/>
    </select>

    <select id="listAll" resultType="com.activeclub.core.ac_usermanagement.bean.vo.UserVo">
        select
        <include refid="column_sql_noPassword"/>
        from "user" b
        where flag = 0;
    </select>
    <select id="checkUser" resultType="java.lang.Boolean">
        select case when count(1)>0 then true
        else false end
        from "user"
        where flag = 0 and code = #{code}
    </select>

    <!--    <select id="selectById" resultType="com.activeclub.usermanagement.bean.entity.User">-->

<!--    </select>-->


</mapper>